<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDISENSE</title>
    <link rel="stylesheet" href="../Assets/css/medisense.css">
    <link rel="stylesheet" href="../Assets/css/bootstrap.css">
    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/js/bootstrap.bundle.min.js">
    <script src="https://kit.fontawesome.com/602c9d5c27.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- ************* navbar  ****************** -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="https://medlineplus.gov/images/m_logo_25.png" alt="" class="px-3 " height="50px" width="300px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <!-- **** medisense Part_1 ***************** -->
    <div class="container-fluid Medicine_Part1">
        <div class="row" style="justify-content:center ;">
            <div class="col-lg-4">
                <p class="Medicine">Medicine</p>
                <h1 class="health">YOUR HEALTH IS YOUR WEALTH</h1>
                <p class="Medicine">HAVE YOUR CHEAPEST MEDICINE OLNINE</p>

                <button class="GET_btn">get it now</button>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>

    <!-- ****** medicine_part2 ************** -->
    <div class="container mt-5 mb-5 py-1 px-2">
        <div class="row gap-4 justify-content-center">
            <div class="col-lg-5 love_free text-end py-5 ">
                <p class="love">LOVE - CARE - UNDERSTAND </p>
                <h1 class="free">FREE ONLINE 24/7 <br>
                    CONSULTING SERVICES</h1>
                <button class="meet_doct">meet our doctor</button>

            </div>
            <div class="col-lg-5 deal_off">
                <h2 class="deal mt-5">Deal of the day</h2>
                <p class="off">20% OFF</p>
            </div>
        </div>
    </div>

    <!-- *********** medicine_part3 *******************-->

    <div class="container  mb-4 ">
        <div class="row justify-content-center">
            <h2 class=" col-lg-10 P3_medicine " style="font-size: 16px; align-items: center;">MEDICINES</h2>
        </div>
    </div>
    <div class="container-fluid mb-5">
        <div class="row mt-5  " style="justify-content:center; gap: 20px;">
            <div class="col-lg-2 col-sm-6 col-md-6 text-center">
                <img src="../Assets/images/Medisene_Copy_2.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Sundown Naturals</h2>
                <p class="dollor">$5.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-center">
                <img src="../Assets/images/Medisene_Copy_3.jpg" class="img-fluid" height="170px" width="170px" alt="">
                <h2 class="Sundown">Nature Made Vitamin</h2>
                <p class="dollor">$12.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-center">
                <img src="../Assets/images/Medisene_Copy_4.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Axe Vitamin B
                </h2>
                <p class="dollor">$5.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-center">
                <img src="../Assets/images/Medisene_Copy_5.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Biotin vitamin</h2>
                <p class="dollor">$60.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
        </div>
    </div>

    <!-- *********** medicine_part4 *******************-->
    <div class="container  mb-4 ">
        <div class="row justify-content-center">
            <h2 class=" col-lg-10 P3_medicine " style="font-size: 16px; align-items: center;">VITAMINS & SUPPLEMENTS
            </h2>
        </div>
    </div>

    <div class="container-fluid mb-5">
        <div class="row mt-5  " style="justify-content:center; gap: 20px;">
            <div class="col-lg-2 col-sm-6 col-md-6 text-center">
                <img src="../Assets/images/Medisene_Copy_2.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Sundown Naturals</h2>
                <p class="dollor">$5.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-center">
                <img src="../Assets/images/Medisene_Copy_3.jpg" class="img-fluid" height="170px" width="170px" alt="">
                <h2 class="Sundown">Nature Made Vitamin</h2>
                <p class="dollor">$12.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-center">
                <img src="../Assets/images/Medisene_Copy_4.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Axe Vitamin B
                </h2>
                <p class="dollor">$5.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-center">
                <img src="../Assets/images/Medisene_Copy_5.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Biotin vitamin</h2>
                <p class="dollor">$60.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
        </div>
    </div>

    <!-- *********** medicine_part5 *******************-->


    <div class="container  mb-4 ">
        <div class="row justify-content-center">
            <h2 class=" col-lg-10 P3_medicine " style="font-size: 16px; align-items: center;">OTHER</h2>
        </div>
    </div>


    <div class="container-fluid mb-5">
        <div class="row mt-5  " style="justify-content:center; gap: 20px;">
            <div class="col-lg-2 col-sm-6 col-md-6 text-center">
                <img src="../Assets/images/Medisene_Copy_2.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Sundown Naturals</h2>
                <p class="dollor">$5.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-center">
                <img src="../Assets/images/Medisene_Copy_3.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Nature Made Vitamin</h2>
                <p class="dollor">$12.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-center">
                <img src="../Assets/images/Medisene_Copy_4.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Axe Vitamin B
                </h2>
                <p class="dollor">$5.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="need"> <i class="fa-solid fa-star" style="color: #ffff"></i> You May also need</div>
                <div>
                    <div class="d-flex " style="align-items: center;">
                        <img src="../Assets/images/Medisene_Copy_2.jpg" height="110px" width="110px" alt="">
                        <div class="mt-2 py-3">
                            <h2 class="Sundown">Sundown Naturals</h2>
                            <p class="dollor">$5.00</p>
                        </div>
                    </div>
                    <div class="d-flex" style="align-items: center;">
                        <img src="../Assets/images/Medisene_Copy_3.jpg" height="120px" width="120px" alt="">
                        <div>
                            <h2 class="Sundown">Nature Made Vitamin</h2>
                            <p class="dollor">$12.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-5">
        <div class="row mt-5 mb-5 " style="justify-content:center; gap: 20px;">
            <div class="col-lg-2 col-sm-6 col-md-6 text-center mb-5">
                <img src="../Assets/images/Medisene_Copy_5.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Biotin vitamin</h2>
                <p class="dollor">$60.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-center mb-5">
                <img src="../Assets/images/Medisene_Copy_6.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">California Vitamin C</h2>
                <p class="dollor">$5.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 text-center mb-5">
                <img src="../Assets/images/Medisene_Copy_7.jpg" height="170px" width="170px" alt="">
                <h2 class="Sundown">Agape Liquid Vitamin</h2>
                <p class="dollor">$6.00</p>
                <button class="add_cart">Add To Cart</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div>
                    <div class="d-flex " style="align-items: center;">
                        <img src="../Assets/images/Medisene_Copy_4.jpg" height="110px" width="110px" alt="">
                        <div class="mt-2 py-3">
                            <h2 class="Sundown">Axe Vitamin B</h2>
                            <p class="dollor">$5.00</p>
                        </div>
                    </div>
                    <div class="d-flex" style="align-items: center;">
                        <img src="../Assets/images/Medisene_Copy_5.jpg" height="120px" width="120px" alt="">
                        <div>
                            <h2 class="Sundown">Biotin vitamin</h2>
                            <p class="dollor">$60.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- *********** medicine_part6    *******************-->
    <div class="container-fluid " style="margin-top: 160px; margin-bottom: 50px;">
        <div class="row part6 " style="justify-content: center;">
            <div class="col-lg-4  ">
                <img src="../Assets/images/pf-d825add0-64c0-4b9d-a481-2de26ac4aa1b--Medisense-4.png" height="380px"
                    alt="" class="doc_img img-fluid">
            </div>

            <div class="col-lg-5 py-3" style="align-items: center;">
                <h1 class="Private_d mt-5 ">DO YOU WANT A PRIVATE DOCTOR?</h1>
                <p class="make_free">Make a FREE appointment today!</p>
                <button class="appoinment"> <i class="fa-regular fa-calendar-days"></i> make Appointment</button>
            </div>
        </div>
    </div>


    <!-- ****************** Medicine Part7 ************************ -->

    <div class="container mt-5 mb-5">
        <div class="row mb-5" style="justify-content: center;">
            <div class="col-lg-5 ">
                <h1 class="way">WAY TO LIVE WELL</h1>
            </div>
            <div class="col-lg-5  ">
                <h1 class="way">WAY TO LIVE WELL</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="row  mb-3 mt-2">
                    <div class="col-lg-6 col-sm-12">
                        <img src="../Assets/images/Mumento_08.jpg"  alt="" height="200px" width="300px">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h2 class="celina mt-3">CELINA BRAGINASKY - CEO OF MEDISENE</h2>
                        <p class="Part7_p">
                            Customers love our easy to shop website and that we make a broad range of products
                            conveniently
                            accessible to Canadians. Plus, with a friendly and helpful customer care team and super fast
                            shipping that’s free in Canada over $29, we’re great at making the lives of busy Canadians a
                            little
                            bit easier.
                        </p>
                    </div>
                </div>
                <div class="row mb-3 mt-2">

                    <div class="col-lg-6 col-sm-12">
                        <img src="../Assets/images/Mumento_07.jpg" alt="" height="200px" width="300px">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h2 class="celina mt-3">BEULAH PARK - CEO OF MEDISENE </h2>
                        <p class="Part7_p">
                            We’re a fast-growing, proudly Canadian company that’s passionate about our customers, our
                            business, and the products we sell. There’s a real person behind every item we offer, every
                            package we ship, and every interaction we have with you, because we love sharing our passion
                            for health and wellness with you.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 mt-3">
                <div class="d-flex">
                    <div class="icon_img">
                        <div class="icon1_img">
                            <img src="../Assets/images/icon1.png" alt="">
                        </div>
                    </div>
                    <div class="icon_img">
                        <div class="icon1_img">
                            <img src="../Assets/images/icon2.png" alt="">
                        </div>
                    </div>
                    <div class="icon_img">
                        <div class="icon1_img">
                            <img src="../Assets/images/icon3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="icon_img">
                        <div class="icon1_img">
                            <img src="../Assets/images/icon4.png" alt="">
                        </div>
                    </div>
                    <div class="icon_img">
                        <div class="icon1_img">
                            <img src="../Assets/images/icon5.png" alt="">
                        </div>
                    </div>
                    <div class="icon_img">
                        <div class="icon1_img">
                            <img src="../Assets/images/icon6.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="icon_img">
                        <div class="icon1_img">
                            <img src="../Assets/images/icon7.png" alt="">
                        </div>
                    </div>
                    <div class="icon_img">
                        <div class="icon1_img">
                            <img src="../Assets/images/icon8.png" alt="">
                        </div>
                    </div>
                    <div class="icon_img">
                        <div class="icon1_img">
                            <img src="../Assets/images/icon9.png" alt="">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <hr>

<!-- ******* footer **************** -->

<div class="container-fluid mt-5 mb-5">
    <div class="row" style="justify-content: center; " >
        <div class="col-lg-2 col-sm-12 d-flex gap-3 mt-3 mb-3">
            <img src="../Assets/images/heart.png" alt="">
            <div>
                <h1 class="Authentic">AUTHENTIC PRODUCTS</h1>
                <p class="footer_p">Items with certificates</p>
            </div>
        </div>
        <div class="col-lg-2 col-sm-12 d-flex gap-3 mt-3 mb-3">
            <img src="../Assets/images/Injection.png" alt="">
            <div>
                <h1 class="Authentic">QUICK EMERGENCY</h1>
                <p class="footer_p">1st priority for emergencies</p>
            </div>
        </div>
        <div class="col-lg-2 col-sm-12 d-flex gap-3 mt-3 mb-3">
            <img src="../Assets/images/med_bottel.png" alt="">
            <div>
                <h1 class="Authentic">CASH ON DELIVERY</h1>
                <p class="footer_p">For orders over $100</p>
            </div>
        </div> 
        <div class="col-lg-2 col-sm-12 d-flex gap-3 mt-3 mb-3">
            <img src="../Assets/images/tablet.png" alt="">
            <div>
                <h1 class="Authentic">BEST CONSULTANCY </h1>
                <p class="footer_p">  Best health consultancy</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>